backcall==0.1.0
certifi==2019.9.11
cycler==0.10.0
decorator==4.4.0
imutils==0.5.3
ipython==7.8.0
ipython-genutils==0.2.0
jedi==0.15.1
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.3
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.10
ptyprocess==0.6.0
Pygments==2.4.2
pyparsing==2.4.2
python-chess==0.28.3
python-dateutil==2.8.0
six==1.12.0
traitlets==4.3.3
wcwidth==0.1.7
